.comp-two {

	.summary-list {

		li {
			list-style-type: none;
			text-align: left;
			padding: .25rem 0;

			&:hover {
				background-color: #ebebe0;
			}

			div {
				display: inline;
				float: right;
				font-weight: bold;
			}
		}
	}
}