.header {
	width: 4*$col;

	ul {

		li {
			display: inline;
			margin: 0 1rem;

			a {
				text-decoration: none;

				&.active {
					font-weight: bold;
				}
			}
		}
	}
}

.container {
	padding-top: 1rem;
	clear: both;
	width: 4*$col;
	margin-left: auto;
	margin-right: auto;
}