@import "base/functions";
@import "base/variables";

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.App {
	text-align: center;
}

h1 {
	text-decoration: underline;
	padding-bottom: .5rem;
}

// Components
@import "components/router";
@import "components/home";
@import "components/comp-one";
@import "components/comp-two";